{% extends 'base.html' %}

{% block title %}Register{% endblock %}
{% block content %}

<h2 class="card-title">Register</h2>
<form method="post">

    <div class="entry" style="width: 100%;">
        <div class="content-wrapper">
            {% csrf_token %}
            {{ form.as_p }}
        </div>
    </div>

    <div style="text-align: right;">
        <button type="submit" class="btn btn-primary">Register</button>
    </div>
</form>
    
<p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
{% endblock %}
