{% extends 'base.html' %}

{% block title %}Detail View{% endblock %}

{% block content %}
<div class="entry" style="width: 100%;">
    <div class="content-wrapper">
        <p><strong>ID:</strong> {{ data.id }}</p>
        <p><strong>Title:</strong> {{ data.title }}</p>
        <p><strong>Description:</strong></p>
        <div class="description-card">
            <p class="description">{{ data.description }}</p>
        </div>
    </div>
    <div class="buttons">
        <a href="{% url 'update_view' data.id %}">
            <button type="button">Update</button>
        </a>
        <a href="{% url 'delete_view' data.id %}">
            <button type="button">Delete</button>
        </a>
    </div>
</div>
{% endblock %}
