{% extends 'base.html' %}

{% block title %}Login{% endblock %}
{% block content %}

<h2 class="card-title">Login</h2>
<form method="post">

    <div class="entry" style="width: 100%;">
        <div class="content-wrapper">
            {% csrf_token %}
            {{ form.as_p }}
        </div>
    </div>

    <div style="text-align: right;">
        <button type="submit" class="btn btn-primary">Login</button>
    </div>
</form>

{% comment %} <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p> {% endcomment %}
{% endblock %}
